### ARCHIVOS PRIVADOS (Lo más importante) ###
# Aquí pones el nombre exacto del chat que quieres ocultar
*.txt
*.csv
*.log
# Si tienes una carpeta específica para los datos:
Data/
bk/

### PYTHON ###
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
Lib/
Scripts/
etc/
share/
pyvenv.cfg
Include/
__pycache__/

### JUPYTER NOTEBOOKS ###
.ipynb_checkpoints/

### SISTEMA OPERATIVO ###
.DS_Store
Thumbs.db
